#main {
  padding-top: 130px;
  color: white;
  background: linear-gradient(90deg, $base-color-dark 0%, $base-color-light 100%);

  #main-title {
    margin-bottom: 30px;

    h1 {
      font-size: 45px;
      line-height: 1.2;
    }
  }

  #main-buttons {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      background-color: white;
      border-radius: 20px;
      padding: 15px 20px;
      box-shadow: 0 5px 5px rgba($base-color-dark, 0.5);
      transition: all 0.3s ease-in-out;

      &:first-of-type {
        background-color: $base-color-light;
        color: white;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  #main-description {
    margin-bottom: 20px;

    h2 {
      font-size: 20px;
    }
  }

  #cv-image {
    width: 100%;
    max-width: 550px;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  #main {
    text-align: center;

    #main-title {
      h1 {
        font-size: 32px;
      }
    }

    #main-buttons {
      flex-direction: column;
      align-items: center;

      a {
        width: 80%;
        text-align: center;
      }
    }

    #main-description {
      font-size: 18px;
    }

    #cv-image {
      max-width: 400px;
    }
  }
}