#aszf-page {
  padding-top: 120px;

  .container {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
  }
}

#privacy-statement-page {
  padding-top: 120px;

  .container {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
  }
}