#contact-page {
  padding-top: 130px;
  color: $base-color-dark;

  .alert-success {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-color: #0f5132;
  }

  #contact-title {
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    padding: 10px;
    margin-bottom: 50px;

    h1 {
      font-weight: bold;
      margin-bottom: 20px;
      font-size: 45px;
    }
  }

  #contact-form {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    font-size: 20px;

    input, textarea {
      border-radius: 0.25rem;
      box-shadow: 0 0 4px rgba(0, 57, 84, 0.5);
    }

    .invalid-feedback {
      font-size: 1rem;
    }

    button[type="submit"] {
      margin-top: 1rem;
      background-color: white;
      color: $base-color-dark;
      border-radius: 10px;
      padding: 0.4rem 1.4rem;
      border: none;
      box-shadow: 0 0 4px rgba(0, 57, 84, 0.5);
    }
  }

  #description {
    font-size: 1.25rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;

    .content {
      margin-bottom: 50px;
    }

    #contact-phone {
      a {
        text-decoration: none;
        color: $base-color-dark;
      }
    }

    i {
      padding: 15px;
    }
  }
}