header {
  margin-bottom: 15px;

  .navbar .container {
    .navbar-brand img {
      height: 80px;
    }

    .navbar-nav {
      a {
        color: $base-color-dark;
        font-size: 25px;
      }

      #nav_start a {
        background-color: $base-color-light;
        color: white;
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
