#home-page {
  padding-top: 80px;

  #main {
    #main-title {
      color: $base-color-dark;
      margin-top: 150px;
      margin-bottom: 30px;

      h2 {
        font-size: 50px;
      }
    }

    #main-buttons {
      font-size: 20px;

      a {
        text-decoration: none;
        color: $base-color-dark;
        background-color: white;
        border-radius: 20px;
        padding: 15px 20px;
        margin-right: 35px;
        box-shadow: 0 5px 5px rgba($base-color-dark, 0.5);

        &:first-of-type {
          background-color: $base-color-dark;
          color: white;
        }
      }
    }

    #cv-image {
      height: 600px;
      margin-left: -30px;
    }
  }

  #benefits {
    background: linear-gradient(90deg, $base-color-dark 0%, $base-color-light 100%);
    padding-top: 40px;
    padding-bottom: 40px;

    .benefit-card {
      background-color: rgba($base-color-light, 0.5);
      border-radius: 20px;
      padding: 10px;
      color: $base-color-dark;
      font-weight: bold;
      width: 90%;

      .percentage {
        font-size: 65px;
        text-align: right;
        padding-right: 0;
      }
      .text {
        font-size: 20px;
      }
    }
  }

  #features {
    padding-top: 40px;
    color: $base-color-dark;

    h3 {
      text-align: center;
      font-size: 40px;
      margin-bottom: 10px;
    }

    .features-desc {
      text-align: center;
      font-size: 25px;
      margin-bottom: 25px;
    }

    #features-buttons {
      text-align: center;
      margin-bottom: 100px;

      a {
        text-decoration: none;
        color: $base-color-dark;
        background-color: white;
        border-radius: 20px;
        padding: 15px 20px;
        margin-right: 35px;
        box-shadow: 0 5px 5px rgba($base-color-dark, 0.5);

        &:first-of-type {
          background-color: $base-color-dark;
          color: white;
        }
      }
    }

    .feature-card {
      background-color: rgba(white, 0.5);
      border-radius: 20px;
      padding: 10px;
      color: $base-color-dark;
      width: 90%;
      margin-bottom: 25px;

      .feature-card-icon {
        display: flex;
        justify-content: center;

        img {
          align-self: center;
          height: 90px;
        }
      }

      .feature-card-title {
        font-size: 25px;
        font-weight: bold;
      }

      .feature-card-text {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  #advantages {
    padding-top: 40px;
    color: white;
    background: linear-gradient(90deg, $base-color-dark 0%, $base-color-light 100%);

    h3 {
      text-align: center;
      font-size: 40px;
      margin-bottom: 10px;
    }

    .advantages-desc {
      text-align: center;
      font-size: 25px;
      margin-bottom: 25px;
    }

    #advantages-buttons {
      text-align: center;
      margin-bottom: 100px;

      a {
        text-decoration: none;
        color: $base-color-dark;
        background-color: white;
        border-radius: 20px;
        padding: 15px 20px;
        margin-right: 35px;
        box-shadow: 0 5px 5px rgba($base-color-dark, 0.5);

        &:first-of-type {
          background-color: $base-color-light;
          color: white;
        }
      }
    }

    .advantage-card {
      background-color: rgba(white, 0.5);
      border-radius: 20px;
      padding: 10px;
      color: $base-color-dark;
      width: 90%;
      margin-bottom: 25px;

      .advantage-card-icon {
        display: flex;
        justify-content: center;

        img {
          align-self: center;
          height: 90px;
        }
      }

      .advantage-card-title {
        font-size: 25px;
        font-weight: bold;
      }

      .advantage-card-text {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}