@font-face {
  font-family: 'Outfit-Regular';
  src: url('../fonts/Outfit-Regular.ttf');
}

body, html {
  height: 100%;
  background: linear-gradient(90deg, $background-color-dark 0%, $background-color-light 100%);
  font-family: 'Outfit-Regular', sans-serif;
}