#data_sheet {
  padding-top: 100px;
  color: $base-color-dark;
  min-height: 60vh;

  .content-header {
    font-size: 25px;
    padding-bottom: 50px;
    min-height: 170px;
  }

  .content-wrapper {
    min-height: 460px;
  }

  .form-step {
    text-align: left;
    padding-right: 20px;
    margin-top: 30px;

    .form-title {
      font-size: 45px;
      text-align: center;
    }

    .form-subtitle {
      font-size: 25px;
      text-align: center;
    }

    .form-notes {
      font-size: 22px;
      margin-left: 20px;
    }
  }

  .step-wrapper {
    min-height: 400px;
    position: relative;
  }

  .step-number {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 3px solid $base-color-dark;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 1;
  }

  .step-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, $base-color-dark 50%, transparent 100%);
  }

  #data-form {
    margin-top: 30px;

    .form-control {
      border: 1px solid #ccc;
      font-size: 16px;
      transition: all 0.3s ease;

      &:focus {
        border-color: $base-color-dark;
        box-shadow: 0 0 5px rgba($base-color-dark, 0.5);
      }
    }

    #linkedin-logo {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .file-upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .drop-area {
      width: 400px;
      height: 300px;
      border: 2px dashed #ccc;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(white, 0.5);
      text-align: center;
      padding: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .drop-area.dragover {
      border-color: #007bff;
      background: rgba($base-color-dark, 0.1);
    }

    .drop-text {
      font-size: 30px;
      font-weight: bold;
      color: $base-color-dark;
    }

    .or-text {
      font-size: 20px;
      color: #777;
      margin: 5px 0;
    }

    .browse-button {
      background: $base-color-dark;
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
      cursor: pointer;
      text-align: center;
      font-weight: bold;
      transition: 0.3s;
      font-size: 20px;
    }

    .browse-button:hover {
      background: #02507d;
    }
  }

  .remove-button-container {
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, $base-color-dark 50%, rgba(0, 0, 0, 0) 100%);
    border-image-slice: 1;
    margin-bottom: 15px;
    padding-bottom: 5px;

    .remove-button {
      cursor: pointer;
      display: inline-block;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      i {
        color: red;
      }
    }
  }

  .form-check {
    text-align: left;
    font-size: 20px;
  }

  #add-button-container {
    #add-button {
      color: $base-color-dark;
      cursor: pointer;
      display: inline-block;
      font-size: 22px;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  #buttons {
    padding-top: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;

    button {
      text-decoration: none;
      color: $base-color-dark;
      background-color: white;
      border-radius: 20px;
      padding: 12px 20px;
      transition: all 0.3s ease-in-out;

      &:last-of-type {
        background-color: $base-color-dark;
        color: white;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  @media (max-width: 767px) {
    .step-wrapper {
      min-height: 50px;
      margin-bottom: 50px;
    }

    .step-line {
      top: auto;
      left: 5%;
      bottom: 0;
      width: 90%;
      height: 2px;
      transform: none;
      background: linear-gradient(to right, transparent 0%, $base-color-dark 50%, transparent 100%);
    }

    .step-number {
      top: auto !important;
      bottom: 0;
      transform: translate(-50%, 50%);
    }
  }

  @media (min-width: 768px) {
    .step-number {
      left: 50% !important;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .form-title {
      font-size: 35px;
    }

    .form-subtitle {
      font-size: 20px;
    }

    .form-notes {
      font-size: 18px;
    }

    .step-number {
      width: 50px;
      height: 50px;
      font-size: 20px;
    }
  }
}