#cart-page {
  padding-top: 80px;
  padding-bottom: 100px;

  h2 {
    font-size: 45px;
    color: $base-color-dark;
  }

  .card {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    color: $base-color-dark;
  }

  input.form-control {
    border-radius: 5px;
    padding: 10px;
  }

  .hr {
    margin-top: 0;
  }

  .payment-method {
    img {
      width: 80%;
    }
  }

  #coupon-code {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  #apply-coupon {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .input-agree {
    margin-bottom: 5px;
  }

  button.btn {
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
  }
}