#finish-page {
  padding-top: 120px;
  text-align: center;
  color: $base-color-dark;

  i {
    font-size: 100px;

    &.success {
      color: green;
    }
    &.failed {
      color: red;
    }
  }
  h1 {
    font-size: 45px;
  }

  #barion-result {
    margin-bottom: 50px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;

    .barion-data {
      margin-top: 30px;
      font-size: 20px;
    }
  }

  .finish-page-content {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding-top: 20px;

    p {
      font-size: 25px;
      line-height: 30px;
      padding-bottom: 30px;
    }
  }

  #button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      border-radius: 20px;
      padding: 12px 20px;
      box-shadow: 0 5px 5px rgba($base-color-dark, 0.5);
      transition: all 0.3s ease-in-out;
      background-color: $base-color-dark;
      color: white;
      font-size: 25px;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}